/* UNIVERSAL */

:root{
    --altura_tela: 100vh;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    
}

#btVoltar{
    font-size: 35px;
    color: black;
}

#btVoltar:hover{
    border-radius: 100%;
    color: white;
    background-color: rgb(45, 97, 209);
}

#rodapeI{
    display: block;
    position: fixed;
    bottom: 0;
    background: url(/img/rodape2.png);
    z-index: -1; /*camada*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    bottom: 0;
    height: 200px;
    margin-top: 5em;
}

/*///////////////////////////////////////////////////////////////*/

        /* SPLASH */

.container-splash{
    height: var(--altura_tela);    
}

.pontos{
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: black;
    -webkit-animation: sk-boundelay 1.4s infinite ease-in-out both;
    animation: sk-boundelay 1.4s infinite ease-in-out both;
}

.carregando{
    width: 70px;
    text-align: center;
}

/*Usa-se -webkit- para versões antigas do safari e do chrome*/
.carregando #ponto1{
    /*Definindo um atraso de animação*/
    -webkit-animation-delay: -0.32s; /*versão prefixada para navegadores antigos baseados no Webkit (como versões mais antigas do Safari).*/
    animation-delay: -0.32s;
}

.carregando #ponto2{
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-boundelay {
    /*Nas  porcentagens de tamanho, os pontos são reduzidos de tamanho*/
    /*Desaparecem*/
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    /*Aparecem do tamanho normal*/
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-boundelay{
    0%, 80%, 100%{
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/***************************************/

    /* LOGIN */

.container_login{
    height: var(--altura_tela);
}

/************************************************/

    /* HOME */

#linksNavegacaoSelecionado{
    color: black;
}

#linksNavegacao{
    color: white;    
}

#linksNavegacao:hover{
    color: rgba(0, 0, 0, 0.575);
}

.icones_nav{
    color: white;
    font-size: 23px;
}

.itens_navegadores{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo_navegacaoHome{
    width: 100%;
}

#navegadores_links{
    width: 90%;
}

#titulo_home{
    padding: 1em;
    align-items: center;
    border-bottom: solid 2px gray;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.438);
}

#titulo_home span h3{
    font-size: 1em;
    font-weight: bold;
}

#icon_user_home{
    font-size: 100px;
}

#usuario_home div{
    font-size: 20px;    
   }

#titulo_home span{
    font-size: 40px;    
}   

.icones_mainHome{    
    font-size: 3em;
    margin-right: 0.1em;
}

.container_MainHome:hover{
    color: #535353d8;
    
}

#rodape_home{
    bottom: 0;
    margin: 0;
    position: fixed;
    
    
}


/* //////////////////////////////////////////////////////////////////////////////////////// */
                /* CADASTRO */
#main_cadastro{
    display: flex;
    padding: 2em;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

.icones_cadastro{
    font-size: 10em;
}

.container_icones_cadastro:hover{
    color: rgb(56, 144, 160);
}
/****************************************************************/

    /* RESPONSIVIDADE  */

@media (min-width: 100px){
    .form_login{
        display: flex;
        width: 90%;        
    }

    #logo_navegacaoHome{
        width: 100%;
    }

    #container_logoHome{
        height: 100%;
        width:65%;
        padding: 5%;
        
    }

    #container_principalHome{
        width: 50%;        
    }

    #container_MainHome p{
        font-size: 5em;
    }

    #main_cadastro{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container_icones_cadastro{
        display: flex;
        margin: 0.5em;        
    }
}

@media (min-width: 375px){
    #container_logoHome{
        width: 70%;
        height: 100%;        
    }

    #logo_navegacaoHome{
        width: 60%;
    }
}

@media (min-width: 880px){
    .form_login{
        display: flex;
        width: 40%;
        
    }

    #logo_navegacaoHome{
        width: 100%;
    }

    #container_logoHome{
        width: 20%;
    }

    #container_principalHome{
        width: 50%;
        
    }

    #main_cadastro{
        display: flex;
        padding: 2em;
        margin: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;    
    }

    .container_icones_cadastro{
        display: flex;
        margin: 0;        
    }
   
}

@media (max-width: 700px){
   #usuario_home div{
        font-size: 15px;
   }

   h1{
        font-size: 5px;
   }

   #icon_user_home{
        font-size: 65px;
   }

   #titulo_home{
        padding: 2em 1em;
   }   

   #titulo_home span{
        font-size: 30px;            
    }

    #container_principalHome{
        width: 100%;        
    }
       
}

@media (min-width: 1024px){
    #container_principalHome{
        width: 25%;        
    }
}
