/* UNIVERSAL */
:root{
    --altura_tela: 100vh;    
    --transparencia_sol: flex;
    --transparencia_lua: none;
    --cor_linksNavegacao: white;
    --cor_linksNavegacaoSelecionado: black;
    --background_nav: #17a2b9;
    --body_background: white;
    --cor_botaoVoltar: black;
    --cor_letras: black;
    --cor_iconsServicos: black;
    --container_MainHome_background: transparent;
    --container_MainHome_border:solid 2px transparent;
    --container_MainHome_boxShadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
    --container_MainHome_background_hover: rgba(197, 197, 197, 0.411);
    --background_titulo_colunasVF: #17a2b9;    
    --cor_letras_titulo_colunasVF: white;

    --cor_logout_usuario: #8b0a0a;
    --borda_logout_usuario: #8b0a0a solid 1px;    
    --cor_ConfSenhaU: green;
    --background_ConfSenhaU: transparent;
    --borda_container_mudarTema: 2px solid black;
}

.dark{
    --transparencia_sol: none;
    --transparencia_lua: flex;
    --cor_linksNavegacao: white;
    --cor_linksNavegacaoSelecionado: #17a2b9;
    --background_nav: #3d3d3db7;    
    --body_background: black;
    --cor_botaoVoltar: white;
    --cor_letras: white;
    --cor_iconsServicos: white;
    --container_MainHome_background: rgba(26, 26, 26, 0.555);
    --container_MainHome_border:solid 2px transparent;
    --container_MainHome_boxShadow: 5px 5px 5px rgba(255, 255, 255, 0.486);
    --container_MainHome_background_hover: rgba(71, 71, 71, 0.329);
    --background_titulo_colunasVF: gray;
    --cor_letras_titulo_colunasVF: black;

    --cor_logout_usuario: white;
    --borda_logout_usuario: white solid 1px;    
    --cor_ConfSenhaU: white;
    --background_ConfSenhaU: green;
    --borda_container_mudarTema: 2px solid white;
}

/* Tela Login */
#rodapeI{
    display: block;
    position: fixed;
    bottom: 0;
    background: url(../img/rodape2.png);
    z-index: -1; /*camada*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    bottom: 0;    
    margin-top: 5em;
}

p{
    color: var(--cor_letras);
}

h3{
    color: var(--cor_letras);
}

html{
    margin: 0;
    padding: 0;    
}

#subtitulos_paginas{
    color: var(--cor_letras);
}

body{
    margin: 0;
    padding: 0;    
    background-color: var(--body_background);    
}


.container_mensagem_erro{
    text-align: center;
    padding: 1em;    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
    border-radius: 2em;
    font-size: 20px;
}

#mensagem_erro{
    color: black;
}

#mensagem_erro2{
    color: red;
}


/*********************************************************************************************************/
/* Telas do voluntário*/

#btVoltar{
    font-size: 35px;
    color: var(--cor_botaoVoltar);
}

#btVoltar:hover{
    border-radius: 100%;
    color: white;
    background-color: rgb(45, 97, 209);
}

#btSalvar{
    font-size: 45px;
    color: var(--cor_botaoVoltar);    
}

#btSalvar:hover{
    font-weight: bold;
    color: green;
    
}

#btCancelar{
    font-size: 35px;
    color: var(--cor_botaoVoltar);
}

#btCancelar:hover{
    border-radius: 100%;
    background-color: red;
    color: white;

}

nav{
    background-color: var(--background_nav);     
    color: black;
}

@keyframes surgirTela {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75%{
        opacity: 0.75;
    }

    100%{
        opacity: 1.0;
    }
}

#telaBody{
    animation: surgirTela 1s ease-in-out both;
}

.barraNav{
    display: flex;
    justify-content: space-between;        
}

/* CHECKBOX */
.caixaMarcacao{
    cursor: pointer;
    appearance: none; /*Some com o estilo padrão*/
    border: solid 2px #17a2b9;
    width: 20px;
    height: 20px;      
    margin-right: 0.5em;          
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    
}

.caixaMarcacao:before{
    content: '';
    position: absolute;
    border-radius: 0;
    width: 7px;
    height: 12px;
    border-right: 3px solid #000000bb;
    border-bottom: 3px solid #000000bb;
    transform: rotate(45deg);
    top: 1px;
    opacity: 0;
    transition: all 600ms ease-in-out;        
}

.caixaMarcacao:checked:before{
    opacity: 1;
}

label{
    font-size: 19px;
    color: var(--cor_letras);
}

.container_userPaginas{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

/* DROP DOWN ICON */
#IconUsuarioPaginas{
    display: block;     
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;    
    background-position: center;
    background-size: cover;
}

.container_iconPaginas{
    position: relative;    
    display: inline-block;    
    margin-left: 1em;
}

.container_dropDownUser{
    display: none;
    position: absolute;
    background-color: #f1f1f1;    
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0.2em;
    right: 0;
    z-index: 1;
}

.container_dropDownUser a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.container_dropDownUser a:hover{
    background-color: #c7c7c7b0;
}

.container_iconPaginas:hover .container_dropDownUser{
    display: block;
}


/*///////////////////////////////////////////////////////////////*/
        /* SPLASH */

.container-splash{
    height: var(--altura_tela);    
}

.pontos{
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: black;
    -webkit-animation: sk-boundelay 1.4s infinite ease-in-out both;
    animation: sk-boundelay 1.4s infinite ease-in-out both;
}

.carregando{
    width: 70px;
    text-align: center;
}

/*Usa-se -webkit- para versões antigas do safari e do chrome*/
.carregando #ponto1{
    /*Definindo um atraso de animação*/
    -webkit-animation-delay: -0.32s; /*versão prefixada para navegadores antigos baseados no Webkit (como versões mais antigas do Safari).*/
    animation-delay: -0.32s;
}

.carregando #ponto2{
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-boundelay {
    /*Nas  porcentagens de tamanho, os pontos são reduzidos de tamanho*/
    /*Desaparecem*/
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    /*Aparecem do tamanho normal*/
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-boundelay{
    0%, 80%, 100%{
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/***************************************/

    /* LOGIN */

.container_login{
    height: var(--altura_tela);
}

/************************************************/

    /* HOME */

#linksNavegacaoSelecionado{
    color: var(--cor_linksNavegacaoSelecionado);
}

#linksNavegacao{
    color: var(--cor_linksNavegacao);    
}

#linksNavegacao:hover{
    color: rgba(0, 0, 0, 0.575);
}

.icones_nav{
    color: white;
    font-size: 23px;
}

.itens_navegadores{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#logo_navegacaoHome{    
    margin-left: 5em;
}

#navegadores_links{
    width: 100%;
}

#titulo_home{
    padding: 1em;
    align-items: center;
    border-bottom: solid 2px gray;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.438);
}

#titulo_home span h3{
    font-size: 1em;
    font-weight: bold;
}

#icon_user_home{
    font-size: 100px;
}

#usuario_home div{
    font-size: 20px;    
}

#titulo_home span{
    font-size: 40px;    
}   

.icones_mainHome{    
    font-size: 4em;
    margin-right: 0.1em;
}

.container_MainHome{
    background-color: var(--container_MainHome_background);
    border: var(--container_MainHome_border);
    box-shadow: var(--container_MainHome_boxShadow);
    padding: 1em 2em;
    border-radius: 2em;
    color: var(--cor_iconsServicos);
}

.container_MainHome:hover{    
    background-color: var(--container_MainHome_background_hover);

}

#rodape_home{
    bottom: 0;
    margin: 0;
    position: fixed;
    
    
}
/* //////////////////////////////////////////////////////////////////////////////////////// /*
/*          SERVIÇOS            */
.container_servicos{
    display: flex;
    justify-content: center;
}

.container_servicos_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}


/* //////////////////////////////////////////////////////////////////////////////////////// */
                /* CADASTRO */
#main_cadastro{
    display: flex;
    padding: 2em;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}

.container_icones_cadastro{
    color: var(--cor_letras);
}

.icones_cadastro{
    font-size: 10em;
}

.container_icones_cadastro:hover{
    color: rgb(56, 144, 160);
}


/****************************************************************/
            /*ALTERAÇÃO*/
/*  relative - elemento pai
    absolute - elemento filho */
    .icones_pen{
        position: absolute;
        font-size: 3em;
        margin: 0;
        bottom: 5px;
        right: -30px;
        z-index: 1;
    }
    
/****************************************************************/
            /*DOCUMENTOS*/ 
    .iconesPP_documentos{
        position: absolute;
        font-size: 4em;
        margin: 0;
        bottom: 5px;
        right: -40px;
        z-index: 1;
    }    


    .barraPesquisaDB{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    #buttonPesquisarCPF{
        padding: 0.6em;
        color: white;
        border: none;
        background-color: #17a2b9; 
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        transition: all 1s ease-out;              
    }

    #buttonPesquisarCPF:hover{
        background-color: #0e6372;        
    }            
                
    
    .subcontainers_Documentos{
        display: flex;
        flex-direction: row;
        align-items: center;             
        justify-content: start;        
    }

    .containers_Documentos{
        display: flex;        
        flex-direction: row;
        justify-content: space-between;              
        margin-bottom: 3em; 
        padding-bottom: 1em;       
        border-bottom: 2px solid #000000bd;
        border-radius: 0.3em;
        box-shadow: 0 6px #3f3a3a27;        
    }
    
     #visualizarDocumentos span, #visualizarDocumentos ion-icon{
        color: var(--cor_letras);
    }

    #visualizarDocumentos{
        display: flex;
        align-items: center;
        width: 35%;
        justify-content: start;
        color: black;
        text-decoration: none;
        cursor: pointer;  
    }

    #visualizarDocumentos:hover{
        color: #17a2b9;
    }

    #icon_pesquisaDocumentos{
        font-size: 25px;
        margin-right: 1em;        
    }

    .container_documentosDD{
        display: flex;
        flex-direction: column;
        align-items: center;                
        margin: 3em 0;        
    }

    .container_dependentesDD{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        border: solid 1px #0000007c;
        padding: 1em;
        border-radius: 1em;
        margin-bottom: 4em;
    }

    #visualizarDocumentosDD{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: start;
        color: black;
        text-decoration: none;
        cursor: pointer;         
    }

    #visualizarDocumentosDD:hover{
        color: #17a2b9;
    }
    
/****************************************************************/
            /* FREQUENCIA BENEFICIARIO */
.mes_freqBenef{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}          

/****************************************************************/
            /* VERIFICAR FREQUENCIA */

#botao_pesquisarVF{
    display: flex;
    flex-direction: row;
    align-items: center;        
    padding: 10px;
    width: 8em;
    background-color: #17a2b9;    
    border-radius: 0.75em;
    border: none;    
    align-items: center;
}

#botao_pesquisarVF:hover{
    background-color: #0e6979;    
}

.tabelaVF{
    height: 300px;
    overflow-y: auto;    
}

.my-table{
    width: 100%;
    table-layout: fixed;
}

.my-table tbody tr{
    text-align: center;
    padding: 20px;
    border-bottom: solid 2px rgba(41, 41, 41, 0.267);
}

.titulo_colunasVF{
    font-weight: bold;
    background-color: var(--background_titulo_colunasVF);
    color: var(--cor_letras_titulo_colunasVF);
    
    text-align: center;
    padding: 0 40px;   

}

.atributos_linhasVF{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #0000006e solid;
    height: 40px;
}

.titulo_tabela_VF{
    color: red;
}

#frequencia{
    color: var(--cor_letras);
}
/*****************************************************************************/
        /* USUARIO */
.container_mudarTema{
    display: flex;
    margin: 1em;
    flex-direction: inline;
    align-items: center;
    justify-content: space-between;
    border: var(--borda_container_mudarTema);
    width: auto;
    background-color: transparent;
    border-radius: 1em;
    height: 2em;    
    width: 5em;
    position: absolute;
    z-index: 1;
}

.icon_mudarTema{
    display: flex;
    padding: 0.6em;    
    border-radius: 2em;
    font-size: 20px;
    align-items: center;
    justify-content: center; 
    position: relative;
    z-index: 2; 
}

#icon_mudarTema_moon{      
    display: var(--transparencia_lua);        
    background-color: rgb(103, 103, 104);
    color: white;      
    left: -2px; 
}

#icon_mudarTema_moon:hover{    
    background-color: rgb(209, 209, 209);
    color: black;   
}


#icon_mudarTema_sun{ 
    display: var(--transparencia_sol);
    background-color: #17a2b9;
    color: black;  
    right: -40px;      
}

#icon_mudarTema_sun:hover{
    background-color: #047185;
    color: white;  
}


.main_usuario{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    padding: 5em;

}

.containerIcon{    
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;    
}

#IconUsuarioU{
    height: 23em;
    width: 23em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 10px #00000067;
    z-index: 2;
}

#IconUsuarioU:hover{
    opacity: 0.2; 
    z-index: 0;     
}

.iconImg ion-icon{
    display: flex;
    position: relative;    
    font-size: 3em;
    top: 4.5em;
    z-index: 1;
    text-decoration: none;
    color: black;
    z-index: 1;
}

#mensagemEditIcon{
    padding: 1em;
    border-radius: 2em;
    color: white;       
    background-color: #383737b2;     
    position: relative;
    display: none;  
    right: -10em;  
    bottom: 3em;
    z-index: 4;
}

#nomeUsuario{
    color: var(--cor_letras);    
}

#resetarSenha_usuario{
    background-color: red;
    color: white;    
}

#resetarSenha_usuario:hover {
    background-color: #8b0a0a;
}

#logout_usuario{
    color: var(--cor_logout_usuario);
    background-color: transparent;    
    border: var(--borda_logout_usuario);
}

#logout_usuario:hover{
    color: #8b0a0a;
    font-weight: bold;    
    background-color: #dbdadadc;    
}

#ConfSenhaU{
    color: var(--cor_ConfSenhaU);
    background-color: var(--background_ConfSenhaU);
    border: solid 1px rgba(0, 0, 0, 0.233);
}

#ConfSenhaU:hover{
    color: white;
    background-color: rgba(4, 85, 4, 0.822);
}

#formResetarSenha{
    display: none;    
}



/* /////////////////////////////////////////////////////////////// */
    /* RESPONSIVIDADE  */

@media (min-width: 100px){
    #rodapeI{
        height: 100px;
    }

    .logo_splash{
        width: 80%;
    }

    .logo_login{
        width: 80%;
    }

    .texto_esqueceuSenha{
        font-size: 0.9em;
    }

    .logo_esqueceu_senha{
        width: 80%;
    }
    
    .form_login{
        display: flex;
        width: 90%;        
    }

    .container_mensagem_erro{
        width: 80%;
    }

    #logo_navegacaoHome{
        width: 3em;
    }

    #container_logoHome{
        height: 100%;
        padding: 5%;
        margin-left: 0.3em;        
    }

    .container_servicos_main{
        width: 100%;  
        flex-direction: column;      
    }

    .container_MainHome p{
        font-size: 1.4em;
    }

    .container_userPaginas{
        justify-content: end;
        margin-right: 2em;                
    }

    .container_icones_cadastro{
        display: flex;
        margin: 0.5em;        
    }

    .formularios_Beneficiario{
        display: flex;
        flex-direction: column;
    }

    .container_documentos{
        display: flex;
        flex-direction: column;
        align-items: center;        
        padding: 1em;
        margin: 3em 0;
        
    }

    .containers_Documentos{
        width: 100%;        
    }

    
    .containers_DD label{
        font-size: 17px;
        color: var(--cor_letras);
    }


    #visualizarDocumentos{
        width: 30%;
    } 
    
    #resetarSenha_usuario, #logout_usuario{
        width: 75%;
    }

    #formResetarSenha{
        width: 75%;
    }
       
}

@media (min-width: 375px){ 
    .logo_login{
        width: 40%;
    }
    
    .logo_esqueceu_senha{
        width: 60%;
    }

    #container_logoHome{        
        height: 100%;
        width: auto;        
    }  
}

@media(min-width: 768px){  
    .logo_esqueceu_senha{
        width: 60%;
    }
    
    .formularios_Beneficiario{
        display: flex;
        flex-direction: row;
    }

    .container_documentos{
        padding: 3em;
        margin: 3em;
    }

    .containers_Documentos{
        width: 60%;
        justify-content: space-around;
    }  
    
    .container_logoHome{
        margin-left: 1em;
    }

    #resetarSenha_usuario, #logout_usuario{
        width: 50%;
    }

     #formResetarSenha{
        width: 50%;
    }

     .texto_esqueceuSenha{
        font-size: 1.3em;
    }
}


@media (min-width: 880px){
    #rodapeI{
        height: 145px;
    }

     .logo_splash{
        width: 50%;
    }

    .logo_login{
        width: 30%;
    }

    .logo_esqueceu_senha{
        width: 30%;
    }
    
    .form_login{
        display: flex;
        width: 40%;
        
    }

    .container_mensagem_erro{
        width: 40%;
    }

    .container_servicos_main{      
        flex-direction: row;
    }

     .container_MainHome p{
        font-size: 1.5em;
    }

    #main_cadastro{
        display: flex;
        padding: 2em;
        margin: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;    
    }

    .container_userPaginas{
        justify-content: end;
        margin-right: 0;
        width: 50%;
    }

    .container_icones_cadastro{
        display: flex;
        margin: 0;        
    }

    .formularios_Beneficiario{
        display: flex;
        flex-direction: row;
    }

    .subcontainers_Documentos{
        width: 40%;
    }

    .containers_Documentos{
        width: 70%;
        justify-content: space-between;        
    }

     #resetarSenha_usuario, #logout_usuario{
        width: 25%;
    }

}

@media (max-width: 700px){
   #usuario_home div{
        font-size: 15px;
   }

   h1{
        font-size: 5px;
   }
  

   #icon_user_home{
        font-size: 90px;
   }

   #titulo_home{
        padding: 2em 1em;
   }   

   #titulo_home span{
        font-size: 30px;            
    }
 
}

@media (min-width: 1024px){    
    .container_userPaginas{
        width: 30%;
    }

     .container_MainHome p{
        font-size: 2em;
    }
}

@media (min-width: 1400px){
    .container_userPaginas{
        width: 30%;
    } 
    .logo_splash{
        width: 30%;
    }
}
